{
  "tabWidth": 2,
  "singleQuote": true,
  "jsxBracketSameLine": true,
  "jsxSingleQuote": true,
  "semi": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "css"
}
